# IntelliJ 
.idea
.idea/
.idea/*
*.iml
*.ipr
*.iws
out/

# Netbeans
nbproject
.nbproject
.nbproject/*
nbproject/*
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
nbbuild.xml
manifest.mf
build.xml

# Visual paradigm
design/IIM.vpp~*
design/*.bak

# OSX
.DS_Store

# Windows
Thumbs.db