# IntelliJ 
.idea
.idea/
.idea/*
*.iml
*.ipr
*.iws
out/

# Netbeans
nbproject
.nbproject
.nbproject/*
nbproject/*
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Visual paradigm
design/IIM.vpp~*

# OSX
.DS_Store
