.error {
    -fx-control-inner-background: #FF9494;
}

.warning {
    -fx-control-inner-background: #FFC6A6;
}

.table-view{
    -fx-focus-color: transparent;
}

.table-column{
    -fx-alignment: center;
}

.table-row-cell:selected .hyperlink{
    -fx-text-fill: #ffffff;
}